.intro {
  background: url(https://static.namtay.vn/assets/img/background.jpeg);
  background-size: cover;
  color: #fffdf8;
  padding: 150px;
  outline: 2px solid #313990 !important;
  outline-offset: 0.2px !important;

  .intro-container {
    position: relative;
    height: auto;
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-weight: normal;

    .intro-first,
    .intro-third {
      font-size: 48px;
    }

    .intro-second {
      font-size: 96px;
      display: flex;
      gap: 32px;
      margin: 35px;
    }
  }
}

@media only screen and (max-width: 672px) {
  .intro {
    padding: 90px 32px;
    outline: none;
    outline-offset: none;
    background: url(https://static.namtay.vn/assets/img/background.jpeg);
    background-size: cover;

    .intro-container {
      // max-width: 327px;
      min-height: 65vh;
      position: relative;
      height: auto;
      display: flex;
      flex-direction: column;
      place-content: center;
      align-items: center;
      justify-content: center;

      .intro-first,
      .intro-third {
        font-size: 24px;
      }

      .intro-second {
        margin: 25px 0 45px;
        font-size: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
